@use 'utilities' as *;

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html,
body {
  @include space();
  //text-align: center;
}

main {
  border: red solid thin;
  display: inline-flex;
  width: clamp(300px, 100vw, 1200px);
  flex-flow: column nowrap;
  overflow: hidden;
  max-width: calc(100vw - 1.1em);
}

img {
  max-width: 100%;
  // object-fit: contain;
  //cursor: cell;
  // position: sticky;
  // top: 0;
}


