@use 'utilities' as *;

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html,
body {
  @include space();
  //text-align: center;
}

main {
  //border: red solid thin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-items: center;
  min-height: 100vh;
  //width: clamp(300px, 100vw, 1200px);
  //flex-flow: column nowrap;
  //overflow: hidden;
  //max-width: calc(100vw - 1.1em);

  #kbdCtx {
    //max-width: $maxWidth;
    width: clamp(28em, 100%, 35em);
  }
  #ahkCtx {
    //max-width: 35em;
    flex: 35em 1 1;
  }
}

img {
  max-width: 100%;
  // object-fit: contain;
  //cursor: cell;
  // position: sticky;
  // top: 0;
}
