@use 'utilities' as *;
@use 'sass:color';
@mixin nth($indexes...) {
  @each $i in $indexes {
    &:nth-child(#{$i}) {
      @content;
    }
  }
}
@mixin radial($c) {
  background: $c
    radial-gradient(color.adjust($c, $lightness: 30%), $c 70%);
  @content;
}
$pincky: hsl(200, 67%, 24%);
$ring: hsl(330, 88%, 23%);
$middle: hsl(147, 93%, 16%);
$indexL: hsl(281, 51%, 24%);
$indexR: hsl(216, 70%, 25%);
$shift: hsl(60, 83%, 57%);
$extend: hsl(80, 100%, 50%);
$symbol: darkorange;
$symbol2: pink;
$lightness:-8%;
div#keyboardCtx {
  overflow: auto;
}
div#keyboard {
  background-color: #333;
  min-width: clamp(47rem, 100%, 58.5rem);
  overflow: auto;
  display: flex;
  place-content: space-evenly;
  flex-flow: row wrap;
  // border: red thin solid;
  font: clamp(1rem, 1.5vw, 1.25rem) monospace;
  ::selection {
    background-color: transparent;
    color: currentColor;
  }
  span {
    &:hover {
      cursor: pointer;
    }
    position: relative;
    flex: none;
    flex-basis: 6%;
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr;
    border: black thin groove;
    border-radius: 0.5em 0.5em 50% 50%/0.5em 0.5em 0.5em 0.5em;
    color: white;
    transition: all 0.15s ease-out;
    box-shadow: 0.2em 0.3em 7px 0 #111;
    &:active {
      box-shadow: 0 0 1px 0 #111;
      transform: translate(0.1em, 0.1em);
    }
    background-image: radial-gradient(
      transparent 20%,
      rgba(0, 0, 0, 0.562)
    );
    @include space(0, 0.3%);
    &:nth-child(14) {
      flex-basis: 12%;
    }
    &:nth-child(57) {
      color: $shift;
    }
    &:nth-child(59) {
      color: $extend;
    }
    &:nth-child(15),
    &:nth-child(28) {
      flex-basis: 9.2%;
    }
    &:nth-child(29) {
      flex-basis: 11%;
      color: $symbol;
    }
    &:nth-child(41) {
      margin-right: 7.8%;
    }
    &:nth-child(42) {
      flex-basis: 7.2%;
    }
    &:nth-child(54) {
      flex-basis: 17%;
    }
    @include nth(55, 56, 57, 59, 60, 61, 62) {
      flex-basis: 7.4%;
    }
    &:nth-child(58) {
      flex-basis: 41%; //space
    }
    @include nth(16, 26, 27, 30, 40, 41) {
      background-color: $pincky;
    }
    @include nth(1, 2, 13, 14) {
      background-color: color.adjust($pincky, $lightness: $lightness);
    }
    @include nth(17, 25, 31, 39, 44, 53) {
      background-color: $ring;
    }
    @include nth(3, 12) {
      background-color: color.adjust($ring, $lightness: $lightness);
    }
    &:nth-child(4) {
      background-image: radial-gradient(
          transparent 20%,
          rgba(0, 0, 0, 0.562)
        ),
        linear-gradient(
          90deg,
          color.adjust($ring, $lightness: $lightness) 60%,
          color.adjust($middle, $lightness: $lightness)
        );
    }
    @include nth(18, 24, 32, 38, 45, 52) {
      background-color: $middle;
    }
    @include nth(5, 10) {
      background-color: color.adjust($middle, $lightness: $lightness);
    }
    &:nth-child(11) {
      background-image: radial-gradient(
          transparent 20%,
          rgba(0, 0, 0, 0.562)
        ),
        linear-gradient(
          90deg,
          color.adjust($middle, $lightness: $lightness) 60%,
          color.adjust($ring, $lightness: $lightness)
        );
    }
    @include nth(19, 20, 33, 34, 46, 47) {
      background-color: $indexL;
    }
    @include nth(6, 7) {
      background-color: color.adjust($indexL, $lightness: $lightness);
    }
    @include nth(22, 23, 36, 37, 50, 51) {
      background-color: $indexR;
    }
    &:nth-child(9) {
      background-color: color.adjust($indexR, $lightness: $lightness);
    }
    &:nth-child(48) {
      background-color: color.adjust($indexL, $lightness: $lightness);
    }
    &:nth-child(49) {
      background-color: color.adjust($indexR, $lightness: $lightness);
    }
    &:nth-child(8) {
      background: radial-gradient(
          transparent 20%,
          rgba(0, 0, 0, 0.562)
        ),
        linear-gradient(
          90deg,
          color.adjust($indexL, $lightness: $lightness),
          color.adjust($indexR, $lightness: $lightness) 40%
        );
    }
    @include nth(21) {
      background: radial-gradient(
          transparent 20%,
          rgba(0, 0, 0, 0.562)
        ),
        linear-gradient(
          90deg,
          color.adjust($indexL, $lightness: $lightness) 60%,
          color.adjust($indexR, $lightness: $lightness)
        );
    }
    @include nth(35) {
      background: radial-gradient(
          transparent 20%,
          rgba(0, 0, 0, 0.562)
        ),
        linear-gradient(
          90deg,
          color.adjust($indexL, $lightness: $lightness) 30%,
          color.adjust($indexR, $lightness: $lightness) 70%
        );
    }
    @include nth(30, 31, 32, 33, 37, 38, 39, 40, 46, 51) {
      border: solid thin black;
    }
    @include nth(30, 40) {
      @include radial($pincky);
    }
    @include nth(31, 39) {
      @include radial($ring);
    }
    @include nth(32, 38) {
      @include radial($middle);
    }
    @include nth(33, 46) {
      @include radial($indexL);
    }
    @include nth(37, 51) {
      @include radial($indexR);
    }
    @include nth(57, 58, 59) {
      @include radial(#333);
    }
    @include nth(55, 62) {
      @include radial(color.adjust($pincky, $saturation: -40%));
    }

    kbd {
      padding: 0.2em;
      &:hover {
        cursor: pointer;
      }
      &.key {
        color: currentColor;
        position: relative;
        inset: 50%;
      }
      &.shift {
        position: absolute;
        color: $shift;
        // opacity: 0;
        top: 0;
        left: 0;
      }
      &.extend {
        position: absolute;
        inset: center;
        color: $extend;
        // opacity: 0;
        right: 0;
        top: 0;
      }
      &.symbol {
        position: absolute;
        color: $symbol;
        // opacity: 0;
        // inset: 25%;
        bottom: 0;
        right: 0;
      }
      &.symbol2 {
        position: absolute;
        color: $symbol2;
        bottom: 0;
        left: 0;
      }
    }
  }
}
