@use 'utilities' as *;
@use 'sass:color';

$pincky: hsl(200, 67%, 24%);
$ring: hsl(330, 88%, 23%);
$middle: hsl(147, 93%, 16%);
$indexL: hsl(216, 70%, 25%);
$indexR: hsl(281, 51%, 24%);
$extend: hsl(80, 100%, 50%);
$symbol: darkorange;
$shift: hsl(46, 100%, 50%);
$symbol2: pink;
$lightness: -8%;

#keyboard {
  display: grid;
  grid-gap: 0.25em;
  padding: 0.25em;
  //border: solid yellow thin;
  border-radius: .7em;
  background-color: #333;
  overflow: auto;
  font: clamp(1em, 1.5vw, 1.25em) monospace;

  ::selection {
    background-color: transparent;
    color: currentColor;
  }

  .row {
    display: grid;
    grid-gap: 0.25em;
    justify-content: space-between;
  }

  #top_row {
    grid-template-columns: repeat(13, minmax(1em, 1fr)) 11%;
  }

  #upper_row {
    grid-template-columns: 9.5% repeat(12, minmax(1em, 1fr)) 7.4%;
  }

  #home_row {
    grid-template-columns: 11% repeat(13, minmax(1em, 1fr));
  }

  #lower_row {
    grid-template-columns: 7.4% repeat(11, minmax(1em, 1fr)) 16.5%;
  }

  #bottom_row {
    grid-template-columns: repeat(3, 1fr) 4fr repeat(4, 1fr);
  }
}

#keyboard button {
  height: 2em;
  text-align: center;

  border: black thin groove;
  border-radius: 0.5em 0.5em 50% 50%/0.5em 0.5em 0.5em 0.5em;

  box-shadow: 0.2em 0.3em 7px 0 #111;

  color: white;
  background-color: #666;
  background-image: radial-gradient(transparent 20%, #0009);

  padding: 0;
  //@include space(0, 0.3%);

  transition: all 0.15s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  &:hover {
    cursor: pointer;
  }

  &.modifier {
    background-color: #333;

    &:hover,
    &:focus {
      background-color: #175470;
    }
  }

  &:active {
    box-shadow: 0 0 1px 0 #111;
    transform: translate(0.1em, 0.1em);
  }

  &.pinkey {
    background-color: $pincky;
  }

  &.ring {
    background-color: $ring;
  }

  &.middle {
    background-color: $middle;
  }

  &.indexL {
    background-color: $indexL;
  }

  &.indexR {
    background-color: $indexR;
  }

  @mixin background_mix($c1, $percent1: 0%, $c2, $percent2: 100%) {
    background-image:
      radial-gradient(transparent 20%, #0009),
      linear-gradient(90deg,
        color.adjust($c1, $lightness: $lightness) $percent1,
        color.adjust($c2, $lightness: $lightness) $percent2);
  }

  &.mix_ring_middle {
    @include background_mix($ring, 60%, $middle);
  }

  &.mix_middle_ring {
    @include background_mix($middle, 60%, $ring);
  }

  &.mix_index_top {
    @include background_mix($indexL, 0%, $indexR, 40%);
  }

  &.mix_index_upper {
    @include background_mix($indexL, 60%, $indexR);
  }

  &.mix_index_home {
    @include background_mix($indexL, 30%, $indexR, 70%);
  }

  &.dark {
    background-image: radial-gradient(#0003, #000c);
  }

  &.highLight {
    //outline: thin dashed gray;
    background-image:
      radial-gradient(#fff3, transparent 65%),
      radial-gradient(transparent 20%, #0009);
  }
}
