@use 'sass:color';

$pincky: hsl(200, 67%, 24%);
$ring: hsl(330, 88%, 23%);
$middle: hsl(147, 93%, 16%);
$indexWest: hsl(216, 70%, 25%);
$indexEast: hsl(281, 51%, 24%);
$modifier: #333;

@function clr($c, $lightness) {
  @return color.scale($c, $lightness: $lightness)
}


$lightness0: 0%;
$lightness1: 7%;
$lightness2: 15%;
$lightness3: 40%;
$mix: 75%;

$ext: clr($modifier, $lightness3);
$sym: clr($modifier, $lightness3);

$gg: clr($modifier, $lightness1);
$Gg: clr($modifier, $lightness2);
$GG: clr($modifier, $lightness3);

$ww: clr($indexWest, $lightness0);
$wW: clr($indexWest, $lightness1);
$Ww: clr($indexWest, $lightness2);
$WW: clr($indexWest, $lightness3);

$ee: clr($indexEast, $lightness0);
$eE: clr($indexEast, $lightness1);
$Ee: clr($indexEast, $lightness2);
$EE: clr($indexEast, $lightness3);

$mm: clr($middle, $lightness1);
$Mm: clr($middle, $lightness2);
$MM: clr($middle, $lightness3);

$rr: clr($ring, $lightness1);
$Rr: clr($ring, $lightness2);
$RR: clr($ring, $lightness3);

$pp: clr($pincky, $lightness1);
$Pp: clr($pincky, $lightness2);
$PP: clr($pincky, $lightness3);

$shadowIn: radial-gradient(transparent, #000e);

@mixin bg($c1, $percent1: 0%, $c2: false, $percent2: 100%) {
  @if ($c2) {
    background-image:
      $shadowIn,
      linear-gradient(90deg, $c1 $percent1, $c2 $percent2);
  }

  @else {
    background-color: $c1;
    background-image: $shadowIn;
  }
}



.ext {
  @include bg($ext)
}

.sym {
  @include bg($sym)
}

.gg {
  @include bg($gg)
}

.Gg {
  @include bg($gg)
}

.GG {
  @include bg($gg)
}

.ww {
  @include bg($ww)
}

.Ww {
  @include bg($Ww)
}

.wW {
  @include bg($wW)
}

.WW {
  @include bg($WW)
}

.ee {
  @include bg($ee)
}

.Ee {
  @include bg($Ee)
}

.eE {
  @include bg($eE)
}

.EE {
  @include bg($EE)
}

.mm {
  @include bg($mm)
}

.Mm {
  @include bg($Mm)
}

.MM {
  @include bg($MM)
}

.rr {
  @include bg($rr)
}

.Rr {
  @include bg($Rr)
}

.RR {
  @include bg($RR)
}

.pp {
  @include bg($pp)
}

.Pp {
  @include bg($Pp)
}

.PP {
  @include bg($PP)
}

.Mr {
  @include bg($mm, 70%, $rr)
}

.Rm {
  @include bg($rr, 40%, $mm, 80%)
}

.mw {
  @include bg($mm, 30%, $ww, 70%)
}

.em {
  @include bg($ee, 50%, $mm, 90%)
}

.We {
  @include bg($ww, 60%, $ee)
}

.we {
  @include bg($ww, 30%, $ee, 70%)
}